<div class=" center">
    Hello!
    {{#each comments as |comment| }}
    <div class="row mb-4 project">
        <div class="col-md-5">
            <h2>
                <a href="/blog/{{comment.id}}">{{comment.id}}</a>
            </h2>
            <p>Reviewed by {{comment.user.name}} on {{format_date comment.date_created}}</p>
        </div>
        <div class="col-md-7">
            <p>
                {{comment.description}}
            </p>
        </div>
    </div>
    {{/each}}
</div>